@mixin btn {
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 60px 0px 30px 20px;
  margin-left: 30px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform:uppercase;
  background-image: linear-gradient(to right bottom, #013A9D, #013A9D, #013A9D, #007BE7, #007BE7) !important;
}
body{
  padding-top:75px;  
}
