.terms {
  padding: 40px 0;
  & .heading-title {
    text-align: center;
    & .title {
      position: relative;
    }

    & .divider {
      height: 4px;
      width: 85px;
      background:$main-color;
      margin: 20px auto;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: #fff;
        animation: move-ani 2s linear infinite;
        @keyframes move-ani {
          0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
          100% {
            -webkit-transform: translateX(85px);
            transform: translateX(85px);
          }
        }
      }
    }
  }
  & .icon-box {
    position: relative;
    padding: 30px 30px;
    overflow: hidden;
    &:before {
      position: absolute;
      content: "";
      left: -80px;
      top: 0;
      height: 2px;
      width: 70px;
      transition: all 0.5s ease-in-out;
      background-image: linear-gradient(to right bottom, #013A9D, #013A9D, #013A9D, #007BE7, #007BE7) !important;
    }

    &:after {
      position: absolute;
      content: "";
      right: -80px;
      bottom: 0;
      height: 2px;
      width: 70px;
      transition: all 0.5s ease-in-out;
      background-image: linear-gradient(to right bottom, #013A9D, #013A9D, #013A9D, #007BE7, #007BE7) !important;
    }

    & i {
      font-size: 60px;
    }

    & h4 {
      margin: 20px 0 10px;
      color:$main-color;
    }

    & p {
      font-size: 14px;
      margin: 0;
    }
    &:hover:before {
      left: 0;
    }
    &:hover:after {
      right: 0;
    }
    & .circle_box {
      background: #f2f2f2;
      display: inline-flex;
      height: 70px;
      width: 70px;
      border-radius: 33% 66% 70% 150%/49% 62% 38% 51%;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
    }
    & i {
      font-size: 36px;
      color:$main-color;
      margin-right: -66px;
      transition: 0.5s;
    }
    &.icon-box:hover .circle_box {
      border-radius: 4px;
      background-color:$main-color;
      color: $white;
      & i {
        color: $white;
        margin-right: 0;
      }
    }
  }
  & .comman_button {
    @include btn;
    &:hover {
      color:white;
      border-radius: 60px 0px 30px 20px;
    }
  }
}
